html,
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
:root {
  --light-red: #ff5454;
  --dark-red: #ff3a3a;
  --black: #0f0f0f;
  --dim-white: #efefef;
  --shadow: rgba(0, 0, 0, 0.15);
}
.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
}
.app {
  width: 100%;
  /* margin-top: 40px; */
  /* outline: 1px solid black; */
}
.app-name {
  text-align: center;
  margin-bottom: 60px;
  /* outline: 1px solid black; */
}
.app-name-title {
  font-size: 24px;
  font-weight: bold;
}
.app-name-sub {
  width: 160px;
  color: white;
  background-color: var(--black);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  border-radius: 3px;
  padding: 4px;
  margin: auto;
}

.app-main {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 3px;
  /* outline: 3px solid var(--shadow); */
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.main-top {
  display: flex;
  justify-content: center;
  /* outline: 1px solid red; */
}
/* .main-bottom {
  outline: 1px solid red;
} */

/* .timerset {
  outline: 1px solid yellow;
} */
.box {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  padding: 10px;
  /* outline: 1px solid yellow; */
}
